/*body{
    background-image: url("../img/calculate.jpg");
    filter: blur(1em);
    -webkit-filter: blur(1em);
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
   
}*/ 
