<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
		<div class="flex-container">  
			<div><a href="/attempts/firstAjax">First Try: Ajax Request from Screenshot to Server Calling a python script</a></div>
			<div><a href="/attempts/livejs">Second Try: Calculating Gripping points on live stream on client side</a></div>
			<div><a href="/attempts/webcamerajs">Third Try: Responsive Design with client side contour</a></div>
            <div><a href="/attempts/ajaxmobile">Fourth Try: Presentational Case Responsive Design & Ajax Request</a></div>
            <div><a href="/attempts/websocket">Websocket Tests</a></div>
		</div>
	</nav>
</body>
</html>