<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="../static/css/gripper_style.css" />
        <title>Greifarm Aufsätze</title>
    </head>
    <body>
        <a href="/" class="button" style="vertical-align:middle"><span>Zurück</span></a>
        <div class="crossfade">
            <figure></figure>
            <figure></figure>
            <figure></figure>
            <figure></figure>
            <figure></figure>
        </div>
    </body>
</html>
