<!DOCTYPE html>
<html>
<head>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../static/css/home_style.css">
	<title>GripperAI</title>

</head>	
<body>
<header>
	<nav>
		<div class="flex-container">  
			<div><a href="/">Home</a></div>
			<div><a href="/gripper">Gripper</a></div>
			<div><a href="/attempts">Attempts</a></div>
			<div><a href="/tryout">Tryout</a></div>
		</div>
	</nav>
</header>
<section>
	<p>GripperAI</p>
</section>
<article>
	<h1>The Project</h2>
	<p>We need intelligent systems to automize the industry. Therefore it is essential to grip different objects in order to transport them or to work with them. That is why this project is based on the calculation of intelligent gripping points.</p>
</article>
<footer>
	<div class="flex-container">  
		<div><a href="#">Kontakt</a></div>
		<div><a href="#">Credits</a></div>
		<div><a href="#">Impressum</a></div>
		<div><a href="#">Datenschutz</a></div>
		<div><a href="#">Cookies</a></div>
	</div>
</footer>
</body>
</html>
